// Custom label we added
.addthis_toolbox .label-text{

  margin-right: rem(10);
  &:before{ 
    @include text-shadow(none);
    margin-right: rem(5);
    font-size: rem(20);
    vertical-align: middle;

    margin-top: rem(-4);
  }
}

.addthis_custom,
.addthis_follow{
  vertical-align: middle;
}
// These colours are taken from the branding guidelines of each social media
// Network site.
$addthis-txt: #fff;
$addthis-email: #0a88ff;
$addthis-facebook: #306199;
$addthis-tumblr: #32506d;
$addthis-linkedin: #007bb6;
$addthis-twitter: #26c4f1;
$addthis-googleplus: #dd4b39;
$addthis-reddit: #8bbbe3;
$addthis-youtube: #df1c31;
$addthis-pinterest: #b81621;
$addthis-github: #444;
$addthis-addmore: #e93f2e;

// Variable list for all social button colors to be iterated over. 
$social-list: (
  email     $addthis-email,
  facebook    $addthis-facebook,
  tumblr      $addthis-tumblr,
  linkedin    $addthis-linkedin,
  twitter     $addthis-twitter,
  googleplus  $addthis-googleplus,
  youtube     $addthis-youtube,
  reddit      $addthis-reddit,
  pinterest   $addthis-pinterest,
  github      $addthis-github,
  addmore     $addthis-addmore
);

// This generates individual button classes for each item in social list on line 39.
.addthis_custom{
  @include mq($small-only){
    display: none!important;
  }
  @each $s-name in $social-list {
    & a.#{nth($s-name, 1)} {
      border: 1px solid darken(white, 2%);
      background-color: rgba(white, 0.9);
      color: black;
      font-family: $helvetica;
      font-size: rem(12);
      line-height: 1;
      padding: rem(1) rem(3);
      display: inline-block;
      // @include text-shadow(rgba(black, 0.8) 1px 1px 2px);
      margin: rem(-4) rem(2) 0 rem(2); 
      @include border-radius(rem(4));
      vertical-align: middle;
      i{
        vertical-align: middle;
        &:before{
          color: nth($s-name, 2);
          font-size: rem(16);
          line-height: 1;
          margin-top: 0;
        }
      }
      &:hover {
        color: lighten(black, 10%);
        background-color: darken(white, 10%);
        border-color: darken(white, 12%);
      }
    }
  } // end @each directive
}

#at4m-dock.ats-light{

  a{ 
    color: white; 
    font-weight: normal; 
    text-transform: uppercase;
    &:hover{ 

      i { @include opacity(0.2); }
    }
  }
}

.at4m-menu {
  margin-top: 38px;
}