@import "settings";
@import "compass/utilities";
/********************************************

  Let's talk about Type:

  Anything to do with font size/face or colour
  is in this file.

********************************************/

/* -----------------------------------------
   Our Fonts
----------------------------------------- */
// If you're going to use custom fonts please set them
// up using sass like the following:

//@include font-face ( "rockwell_bold", font-files( 'rockwell_bold.woff', 'woff', 'rockwell_bold.ttf', 'truetype'), 'rockwell_bold.eot');

/* -----------------------------------------
   Global Rules
----------------------------------------- */
  
  .skiplink { @include hide-text; }
 
  body { }

  //Foundation uses lists as nav elements etc. but sometimes a list is just a list:
  aside ul { list-style-position: inside; }
  article .entry-content ul:not(.no-bullet):not(.gform_fields) { 

  }


/* -----------------------------------------
   Main Nav Block

   we're just undoing navbar styling from 
   foundation
----------------------------------------- */
nav { }

/* -----------------------------------------
   Content
----------------------------------------- */

article {
  * { }
}



/* -----------------------------------------
   Sidebars
----------------------------------------- */
aside {
  #{headers(3)} { 

  }
  h2    {  }
  h3    {   }
  ul li { 

  }
}


/* -----------------------------------------
   Footer
----------------------------------------- */
footer { }

