@import "settings";

// -----------------------------------------------------
//  Basic WordPress stuff including 
//  comment/form set up and image alignment 
// -----------------------------------------------------
.skiplink { display: none; }


// Let's get the Foundation top-bar and the 
// Wordpress top-bar to play nice:
// -----------------------------------------------------
html {
  body.admin-bar { 
    padding-top: 32px; 

    // If we have a sticky topbar, we want this:
    &.f-topbar-fixed {
      .sticky { top: 32px; }
    }
  }

  @media screen and (max-width: 782px) {
    body.admin-bar { padding-top: 46px; }
  }
}


// -----------------------------------------------------
// Comments
// -----------------------------------------------------
#comments-title { 
  margin: 30px 0 10px; 
}   

.vcard { border: 0; }  

.avatar {
  display: block;
  float: left;
  padding: 0 20px 10px 0;
}   

.commentmetadata { margin-top: 0; }

ol.commentlist {  
  list-style: none;
  margin: 0; 
  padding: 0;

  li {
    margin: 15px 0;
    padding: 10px; 
  }

  ul.children {
    list-style: none;
    margin: 10px 10px 0 25px;
    padding: 0;

    li {
      border: 0;

      p {
        font-size: 14px;
        line-height: 20px;
        padding: 6px 0;
      }
    }
  }
}

.commentlist, 
#commentform {
  padding: 20px 0;
}

// Because ai1event callendar plugin is a jerk:
.row.collapse {
  height: inherit!important;
  overflow: visible;
  transition: none;
}


// Respond (comments form area)
// -----------------------------------------------------
#respond {
  padding: 0 1px;

  form { 
    overflow: hidden;
    padding: 20px 0 4px;
  }

  textarea {
    height: auto; // override foundation's stupid height
    padding: 10px;
  }

  .required { color: #ba0000; }
}

// Hides all the crap about html tags
.form-allowed-tags { display: none; }


// -----------------------------------------------------
// Basic image alignement. 
// -----------------------------------------------------
.alignleft {
  display: inline;
  float: left; 
  margin: 0 .625em .625em 0;
}

.alignright {
  display: inline;
  float: right;
  margin: 0 0 .625em .625em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto .625em;
}

.wp-caption {
  background: #fff; 
  border: 1px solid #000;
  margin-bottom: .625em;
  max-width: 100%;
  padding: .25em;

  img {
    display: block;
    margin: 1.2% auto 0;
    max-width: 98%;
  } 

  .wp-caption-text {
    color: #aaa;  
    font-size: .75em;
    margin: .8075em 0;
    text-align: center;
  } 
}
